@model YTS.Models.ViewModels.HomeVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="row justify-content-center">
    @foreach (var movie in Model.MoviesList)
    {
        <div class="ml-4 mr-5" style="width:200px; height:200px">
            <div class="card rounded" style="border:3px solid white">
                <img src="@movie.ImageUrl" style="width:inherit; height:300px" />
            </div>
        </div>
    }
</div>